{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<!-- <img src="{% static 'notes/img/logo-getit.png' %}" /> -->
<div class="appbar">
  <img class="logo" src="{% static 'notes/img/logo-getit.png' %}" />  
  <span class="subtitle">Como o Post-it, mas com outro verbo</span>
</div>
<form method="post" class="form-card">
  {% csrf_token %}
  <input class="form-card-title" type="text" name="titulo" placeholder="Título"/>
  <input class="form-card-title" type="text" name="tag" placeholder="Insira a tag"/>
  <textarea class="autoresize" name="detalhes" placeholder="Digite o conteúdo..."></textarea>

  <button class="btn" type="submit">Criar</button>
</form>

<form action='/tags/' method="post" class="form-card2">
  {% csrf_token %}
<button class="btn" type="submit">VEJA A LISTA</button>
</form>
</div>

<div class="card-container">
  {% for note in notes %}
  <div class="card" id="card{{ note.id }}" >
    <form class="from" method="post">
      {% csrf_token %}
    <h3 class="card-title" id="tx1{{ note.id }}" onclick="func1('tx1{{ note.id }}','inp1{{ note.id }}','card{{ note.id }}')" >{{ note.title }}</h3>
    <input class="card-title-inp" type="text" name="titulo" value="{{ note.title }}" id="inp1{{ note.id }}"/>
    <input class="card-title-inp" type="text" name="detalhes" id="inp2{{ note.id }}" value="{{ note.content }}"/>
    <div class="card-content">
      <p id="tx2{{ note.id }}" onclick="func2('tx2{{ note.id }}','inp2{{ note.id }}','card{{ note.id }}')">{{ note.content }}</p>
    </div>
    <div class="div_botao">
      <button class="botao1" type="submit" name="atualizar" value="{{ note.id }}" id="update">Atualizar</button>
      <button class="botao1" type="submit" name= "apagar" value="{{ note.id }}">Apagar</button>
      </div>
      </form>
  </div>
  {% endfor %}
</div>

{% endblock %}

  <!-- <div class="div_tag">
  <div><input type="radio" id="male" name="tag" value="Tecweb"><label for="Tecweb">Tecweb</label></div>
  <div><input type="radio" id="male" name="tag" value="Camadas"><label for="Camadas">Camadas</label></div>
  <div><input type="radio" id="male" name="tag" value="Empretec"><label for="Empretec">Empretec</label></div>
  <div><input type="radio" id="male" name="tag" value="ModCom"><label for="ModCom">ModCom</label></div>
  <div><input type="radio" id="male" name="tag" value="Eletromag"><label for="Eletromag">Eletromag</label></div>
  </div> -->