{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<script type="text/javascript" src="{% static 'notes/csss/lista.js' %}"></script>
<!-- <img src="{% static 'notes/img/logo-getit.png' %}" /> -->
<div class="appbar">
  <a href="{% url 'index' %}"><img class="logo" src="{% static 'notes/img/logo-getit.png' %}" /></a>
<div class = 'teste'><p class="subtitle">Bem Vindo, {{ user.username }} </p>
  <p class="subtitle"><a href="{% url 'login' %}">Log Out</a></p>
</div>
</div>

<div>
    <form action='/final/' method="post" class="form-card2"  name="lista">
        {% csrf_token %}
        <h4 class="item_lista">ESCOLHA UMA TAG:</h4>
        <h4 class="item_lista" id="erro">{{ erro }}</h4>

        {% for tag in tags %}
        <div><input type="radio" id="male" name="tag" value="{{ tag }}" required><label class="item_lista" for="{{ tag }}">{{ tag }}</label></div>
        {% endfor %}


      <button class="btn" type="submit" id="confirma">Mostrar</button>
      </form>
      <form action='/retorno/' method="post" class="form-card2">
        {% csrf_token %}
        <button class="btn" type="submit">Voltar</button>
    </form>
      
</div>

{% endblock %}